# Web
Flask
Flask-CORS

# Google Cloud + BigQuery
google-cloud-bigquery
google-auth

# Data processing
pandas
pyarrow

# File upload
python-multipart

# ML + Utils
scikit-learn
joblib

# Deep Learning
torch
transformers

# onnxruntime==1.19.2